body, html{
  border-bottom: 10px dashed #2587D1;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.body{
  background: rgba(37, 135, 209, .1);
  border-top: 3px dashed #2587D1;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
  width: 45vw;
}

.header{
  height: 25vh;
  width: 100%;
}
.border{
  align-items: center;
  border-bottom: 1px solid #199393;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.icon{
  display: none;
  position: fixed;
  max-height: 10%;
  max-width: 10%;
  z-index: 1;
}
.container-span{
  display: flex;
  width: 100%;
}
.restrict-img{
  max-height: 45%;
	max-width: 45%;
}
.restrict-img-entry-right{
  border-radius: 10px;
  position: relative;
  align-self: center;
  left: 10%;
  max-height: 20%;
  max-width: 20%;
}
.restrict-img-entry-left{
  border-radius: 10px;
  position: relative;
  align-self: center;
  right: 40%;
  max-height: 20%;
  max-width: 20%;
}
.smaller{
  max-height: 15%;
  max-width: 15%;
}
#overlay{
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
/*Nav Bar*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
.teach{font-size: 15px;}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content:last-child a:hover {
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .teacher-dropdown{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
}
ul{
  color: #2D9469;
  font-family: nav-bar;
  list-style: none;
  text-align: center;
  width: 100%;
}
li{
  border-left: 1px solid #2D9469;
  display: inline;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
li a{
  color: #2D9469;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
}
li:first-child{
  border-left: none;
}
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2D9469;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .overlay-list{
    height: 100%;
    margin-left: -40px;
  }
  .overlay{
    border-radius: 40px;
    color: black;
    display: block;
    font-size: 50px;
    margin-bottom: 13%;
    z-index: 2;
  }
/*Card css*/
  .card {
    overflow-y: hidden;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
    height: 600px;
    margin: 20px;
    overflow-x: hidden;
    transition: 0.3s;
    width: 40%;
  }
  .card-container {
    padding: 2px 16px;
  }
  .cardholder{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 20%;
    margin-top: 20px;
    width: 70vw;
  }
  .card-img {
    border-bottom: 1px solid #199393;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    max-height: 80%;
    max-width: 80%;
  }
  .card-img-school {
    border-bottom: 1px solid #199393;
    border-radius: 5px 5px 0 0;
    max-height: 100%;
    max-width: 100%;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .img-holder:hover .card-img-school{
    transition: .3s ease-in;
    transform: scale(1.02);
  }
  .img-holder{
    overflow-y: hidden;
    position: relative;
    width: 100%;
  }
  .restrict-img-entry-right:hover {
    transition: 1s;
    transform: scale(1.2);
  }
  .restrict-img-entry-left:hover {
    transition: 1s;
    transform: scale(1.2);
  }
  .btn{
    border: 1px solid #EBED90;
    opacity: 0;
  }
  .img-holder .btn {
  color: black;
  font-family: nav-bar;
  font-size: 16px;
  left: 50%;
  padding: 12px 24px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .3s ease-in;
  }
  .img-holder:hover .btn {
    opacity: 1;
  }
  .btn:hover{
    background-color: #EBED90
  }
/*Animation*/
.open{
animation-name: open;
}
@keyframes open {
  from {
    height: 700px;
    width: 40%;
  }
  to {
    height: 900px;
    width: 100%;
  }
}
/*Fonts*/
@font-face {
  font-family: Heading;
  src: url(fonts/Countryside.ttf);
}
@font-face {
  font-family: nav-bar;
  src: url(fonts/Avenir.ttf);
}
h2{
  color: #199393;
  font-family: Heading;
  margin-bottom: 0;
}
h4{
  color: #199393;
  font-family: Heading;
  margin-bottom: 0;
  font-size: 30px;
}
p {
  color: #7A7A7A;
  font-family: nav-bar;
  font-size: 20px;
}
ol {
  list-style: circle;
  color: #7A7A7A;
  font-family: nav-bar;
}
.list{
  list-style: circle;
  display: block;
  font-size: 20px;
  border: none;
}
.quote{
  font-size: 30px;
  word-wrap: break-word;
  margin: 2px
}
/*Colors*/
.blue{
  background-color: #236DDD;
}
.lighter-blue{
  background-color: #2587D1;
}
.aqua{
  background-color: #199393;
}
.seagreen{
  background-color: #148C76;
}
.green{
  background-color: #28855E;
}
.darkgreen{
  background: #257A57;
}
@media screen and (max-width: 916px) {

  /* Full-width containers */
  .container {
  width: 80vw;
  padding-left: 40px;
  padding-right: 25px;
  }
  .cardholder{
    margin-left: 15%;
    width: 70vw;
  }
  .card {
    height: auto;
    width: 100%;
  }
  .restrict-img-entry-right{
    display: none;
  }
  .restrict-img-entry-left{
    display: none;
  }
  /* Make all right containers behave like the left ones */
  .right {left: 0%;}
  .icon{
    display: block;
  }
  li a{
    display: none;
  }
  ul {
    display: none;
  }
  .overlay-list{
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .restrict-img{
    max-height: 100%;
    max-width: 100%;
  }
}
